

table {
    border-collapse:collapse;
    margin:25px 0;
    font-size:14px;
    min-width: 400px;
    border:1px solid ;
   

}
th{
    background-color:rgb(21, 241, 21);
    color:white;
    text-align:left;    
    font-weight: bold;

}
tr:nth-child(even){background-attachment: #e9baba;}
tr:hover {background-color:yellow;}
td{
    padding:10px 12px;
}

* {
  box-sizing: border-box;
}
body{
        background-color:rgb(212, 243, 240);
        margin-left: 20px;
        padding:3px;
        text-justify: auto;
        text-justify: newspaper;
    }

.header{
    text-decoration:none;
    margin-left:20px;
    padding:1px;
    }

.navigations {
  overflow: hidden;
  
}
#first{
    float:left;
}
.navigations a{
  float:right;
  text-align:center;
  display: inline;
  list-style-type:none;
  padding:10px;
 text-decoration:none;
 color:blue;

}

.navigations ul{
list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigations a:hover{
color:rgb(224, 69, 31);
}
.images{
  margin: auto;
  border:1px solid #ccc;
  width: 150px;
  height:140px;
  float:left;
  border-radius: 15px;
  
}
.post1, .post2, .post3 {
      
    text-align:left;
    border:10px;
    margin:2px;
    background-color: rgb(235, 245, 242);
     padding: 1px;
    margin-top: 3px;

}
.left-column {   
  float: left;
  width: 85%;
 
}

.right-column {
  float: left;
  width: 15%;
  background-color: lightgrey;
  padding-left: 20px;
 
}
.horizontal{
   border-top: 1px solid ;
}

.posts li, .pages li, .categories li, .recent-posts li{
   
  list-style: none;
  background-color: rgb(216, 214, 214);
  padding: 1px;
  margin-top: 1px;
}

li:hover{
    background-color:aqua
}

.footer {
  margin-top: 2px;
}

