

table {
    border-collapse:collapse;
    margin:25px 0;
    font-size:14px;
    min-width: 400px;
    border:1px solid ;
   

}
th{
    background-color:rgb(21, 241, 21);
    color:white;
    text-align:left;    
    font-weight: bold;

}
tr:nth-child(even){background-attachment: #e9baba;}
tr:hover {background-color:yellow;}
td{
    padding:10px 12px;
}

body{
        background-color:lightyellow;
    }
.topnav {
  overflow: hidden;
  background-color: #333;
}
.header{

    background-color: rgb(250, 250, 250);
    text-decoration: tan;
    margin:auto;
}

.top-bar a {       
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: azure;
}
a:hover{
    color: rgb(241, 187, 11);
}
.bid{
       float: left;
   } 
.left-column {   
  float: left;
  width: 75%;
}
.right-column {
  float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.horizontal{
   border-top: 2px solid ;
}
.posts{
    margin-top:5px;
    padding-top:10px;
}
.posts li, .pages li, .categories li, .recent-posts li{
    list-style-type:none;
}
li:hover{
    background-color:aqua
}


.images{
  margin: auto;
  border:1px solid #ccc;
  width: 150px;
  height:140px;
  margin:2px;
  float:left;
 
}
.post2{
    margin-right: 2px;
    padding-right: 100px;
    text-align:left;

}
